@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: Inconsolata !important;
}

body {
    background-color: #fdf6e3 !important;
    color: #839496 !important;
}

nav .navMenu .navMenuContent {
    background-color: #fdf6e3 !important;
}

.settings-main-container {
    background: #fdf6e3 !important;
}

:root {
    --color-primary: #268bd2 !important;
    --color-secondary: #2aa198 !important;
    --color-gray-10: #fdf6e3 !important;
}
